.button{
   position: relative;

   color: blue;
   background-color: yellow;
   border-radius: 12px;
   width: 180px;
   height: 80px;
   font-weight: 900;
   border-color: blue;
   border: 2px solid ;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   overflow: hidden;
   color: var();
}
.button:hover{
   background-color: rgb(4, 4, 66);
   color: blue
   }

.button::after{
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url(./img/instagram2.svg);
   transition: transform 600ms;
}
.button:hover::after ,
.button:focus::after{
   transform: translateY(50px);
}

.button::before{
position: absolute;
right: 15.5px;
bottom: 80px;

   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url(./img/linkedin1.svg);
   transition: transform 600ms;

}

.button:hover::before{
   transform: translateY(50px);

}


.icon{
   margin-right: 15px;
   fill: currentColor;
   transition: transform 600ms;
}

.icon:hover{
transform: translateY(150px);
} 